@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-Black.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-ThinItalic.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Seido Round DEMO Black It';
    src: url('../font/BwSeidoRoundDEMO-BlackItalic.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-Light.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Seido Round DEMO Medium It';
    src: url('../font/BwSeidoRoundDEMO-MediumItalic.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-Medium.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-Regular.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-BoldItalic.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Seido Round DEMO Light It';
    src: url('../font/BwSeidoRoundDEMO-LightItalic.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-RegularItalic.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-Thin.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Seido Round DEMO';
    src: url('../font/BwSeidoRoundDEMO-Bold.woff2') format('woff2'),
        url('../font/BwSeidoRoundDEMO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

