// FOR EVERY HOMEPAGE SECTION TITLE
.section-title {
    margin-bottom: 50px;
    text-align: center;
    line-height: 2rem;
    font-family: $font-primary;

    &__bg {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-color;
    }

    &__sm {
        font-size: 0.8125rem;
        font-weight: 400;
        letter-spacing: 1px;
        color: $secondary-color;
    }

    &.section-title--variant1 {
        .section-title__sm {
            color: #fff;
        }
    }

    &.section-title--variant2 {
        .section-title__bg, .section-title__sm {
            color: #fff;
        }
    }
}

// BOTTOM LINES
.line-bottom {
    background-color: #888888;
    width: 100px;
    height: 2px;
    position: relative;
    margin: 15px auto;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: ' ';
        align-self: center;
        margin: auto;
        height: 4px;
        width: 35px;
        background-color: $primary-color;
        margin-top: -1px;
    }

    &.line-bottom--white {
        background-color: #fff;
    }

    &.line-bottom--pure-white {
        background-color: #fff;

        &::before {
            background-color: #fff;
        }
    }
}
