@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

$font-primary : 'Bw Seido Round DEMO';
$font-secondary : 'Montserrat', sans-serif;

$primary-color: #ff6e60;
$secondary-color: #01719a;

$mob: 576px;
$tab-md: 768px;
$tab-lg: 992px;
$pc: 1200px;